body {
  font-size: 16px;
}
.day-container + .day-container {
  margin-top: 6rem;
}
.program-table .header-room {
  text-align: center;
}
.program-table .time-cell {
  vertical-align: middle;
}
.program-table .slot-times-header {
  width: 4rem;
}
.program-table .slot-times-container {
  display: inline-block;
  height: 100%;
}
.program-table .slot-times {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 75%;
}
.program-table .event-cell {
  padding: 0;
}
.program-table .event {
  text-align: center;
  cursor: pointer;
  padding: 8px;
  height: 100%;
  max-width: 18rem;
}
.program-table tbody > tr > td.event {
  vertical-align: middle;
}
.program-table .event-title {
  font-size: 75%;
  font-weight: bold;
  overflow-wrap: break-word;
}
.program-table .event-persons {
  font-size: 70%;
  font-style: italic;
}
.program-table .event-isSigned {
  text-align: right;
}
.event-type-conference {
  background-color: #ddfbe6;
}
.event-type-atelier {
  background-color: #e4b7cc;
}
.event-type-keynote {
  background-color: rgba(186, 194, 218, 0.6);
}
.program-table .event-type-keynote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: none;
}
.program-table .event-room {
  font-size: 90%;
}
.program-table .keynote-slot {
  padding: 0;
  border: none;
}
.event-track {
  min-width: 1rem;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.event .event-track {
  font-size: 70%;
}

.event-track0 { background-color: #ffed6f }
.event-track1 { background-color: #8dd3c7 }
.event-track2 { background-color: #ffffb3 }
.event-track3 { background-color: #bebada }
.event-track4 { background-color: #fb8072 }
.event-track5 { background-color: #80b1d3 }
.event-track6 { background-color: #fdb462 }
.event-track7 { background-color: #b3de69 }
.event-track8 { background-color: #fccde5 }
.event-track9 { background-color: #d9d9d9 }
.event-track10 { background-color: #bc80bd }
.event-track11 { background-color: #ccebc5 }


.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#event-details-modal .event-title {
  margin-bottom: 22px;
}
#event-details-modal .event-info {
  font-size: 90%;
}
#event-details-modal .event-registration {
  margin: 0.5rem 0;
}
#event-details-modal .event-abstract {
  white-space: pre-wrap;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #e5e5e5;
}
#event-details-modal .event-description {
  white-space: pre-wrap;
}

.legend {
  font-size: 120%;
  margin-top: 2rem;
}
.legend span {
  padding: 0 1rem;
  margin: 0 0.5rem;
}
