/* Sponsor section
* ---------------- */
.logo-200px {
  width: 250px;
}
.logo-150px {
  width: 150px;
}
.logo-100px {
  width: 100px;
}

/* Map section
 * ----------- */
iframe#carte {
  width: 70%;
  height: 300px;
  border: 1px solid lightgrey;
}
