/* Sponsor section
* ---------------- */
.logo-200px {
  width: 250px;
  margin: 20px;
}
.logo-150px {
  width: 150px;
  margin: 15px;
}
.logo-100px {
  width: 100px;
  margin: 10px;  
}

.cdl-partner-category {
  margin-top: 50px;
}

/* Map section
 * ----------- */
iframe#carte {
  width: 70%;
  height: 300px;
  border: 1px solid lightgrey;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.sr-icons {
  color: #F05F40 !important;
}
